body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.preview-section {
    position: relative;
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease; /* Transition for transform property only */
}

#profile-container {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 20vw;
    height: 20vw;
    max-width: 200px;
    max-height: 200px;
    border: 10px solid #ccc; /* Add a border */
    border-top: 0;
    border-left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#profile-container img {
    width: 100%;
    height: 100%;
}

.event-image {
    max-height: 50vh;
    max-width: 100%;
}

.animate-out {
    transform: translateY(-120%);
}

.animate-in {
    transform: translateY(0);
}

#continue-button {
    display: none;
    background-color: #ffc107;
    padding: 5px 20px;
    margin: auto 20px 20px;
    border-radius: 5px;
    text-decoration: none; /* Remove default link underline */
    font-family: 'Koulen', sans-serif;
    color: white; /* Change link color */
    text-decoration: none; /* Remove default link underline */
    pointer-events: auto;
    font-size: 24px;
    letter-spacing: 2px;
    width: 250px;
    text-align: center;
    align-self: center;
}

#timeline-container {
    position: relative;
    margin: 30px 50px 80px;
}
#timeline-container.active {
    margin-top: auto;
}

.timeline {
    display: flex;
    align-items: center;
    height: 50px;
    position: relative;
}

.timeline-line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #ccc;
    z-index: -1;
    transform: translateY(-50%);
}

.vertical-line {
    position: absolute;
    top: 50%;
    width: 3px;
    height: 20px;
    background-color: #ccc;
    transform: translate(-50%, -50%);
}

.vertical-line.thick {
    width: 6px;
    height: 30px;
}

.marker {
    position: absolute;
    top: 15px;
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transform: translateX(-50%);
    text-align: center;
}

.marker:nth-child(even) .event {
    position: absolute;
    transform: translateY(-100%);
    top: -10px;
}

.circle {
    width: 20px;
    height: 20px;
    background-color: #007bff;
    border-radius: 50%;
}

.event {
    display: flex;
    flex-direction: column;
    width: 50px;
}

.year {
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 5px;
    color: #007bff;
}

.event-name {
    font-size: 12px;
    color: #333;
}

.event-details-container {
    position: absolute;
    top: -200px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: top 0.3s ease;
    z-index: 1;
}

.event-details {
    display: flex;
    align-items: center;
}

.close-btn {
    cursor: pointer;
    margin-right: 10px;
    color: #777;
}

.event-details img {
    max-width: 100px;
    margin-right: 20px;
    border-radius: 5px;
}